<ion-header no-border>
  <ion-navbar></ion-navbar>
</ion-header>

<ion-content fullscreen="true" padding class="{{settingsService.settings.color_setting}} goals-content" text-center>


  <ion-list>
      <h1>Goal</h1>
  </ion-list>


  <!-- Choose to lose or gain wait -->

  <ion-list radio-group [(ngModel)]="calorieCalculatorService.user.loseWeight" (ngModelChange)="changeGoal()">
      <ion-item no-lines>
          <ion-icon name="trending-down" item-start color="{{settingsService.settings.color_setting}}"></ion-icon>
          <ion-label>Lose Weight</ion-label>
          <ion-radio value=true></ion-radio>
      </ion-item>
      <ion-item no-lines>
          <ion-icon name="trending-up" item-start color="{{settingsService.settings.color_setting}}"></ion-icon>
          <ion-label>Gain Weight</ion-label>
          <ion-radio value=false></ion-radio>
      </ion-item>
  </ion-list>

  <ion-list>
      <h3>
          <div *ngIf="calorieCalculatorService.user.loseWeight=='true'">
              <div *ngIf="calorieCalculatorService.user.goalWeight==0">To keep your weight constant...</div>
              <div *ngIf="calorieCalculatorService.user.goalWeight>0">To lose {{calorieCalculatorService.user.goalWeightString}} pounds per week...</div>
          </div>

          <div *ngIf="calorieCalculatorService.user.loseWeight=='false'">
              <div *ngIf="calorieCalculatorService.user.goalWeight==0">To keep your weight constant...</div>
              <div *ngIf="calorieCalculatorService.user.goalWeight>0">To gain {{calorieCalculatorService.user.goalWeightString}} pounds per week...</div>
          </div>
      </h3>
  </ion-list>


  <ion-list>
      <ion-item>
          <ion-range min="0" max="20" step="1" snaps="true" color="{{settingsService.settings.color_setting}}" [(ngModel)]="calorieCalculatorService.user.goalWeight"  (ngModelChange)="changeWeight()">
              <ion-label range-left>0 lbs</ion-label>
              <ion-label range-right>2 lbs</ion-label>
          </ion-range>
      </ion-item>
  </ion-list>

  <ion-card>
      <ion-card-header color="{{settingsService.settings.color_setting}}" text-left h3>
          ...your calorie goal is:
      </ion-card-header>
      <ion-card-content>
          <div id="calorie_goal">{{calorieCalculatorService.user.calorieGoal}}</div>
      </ion-card-content>
  </ion-card>


</ion-content>