<ion-header>
  <ion-navbar>
    <ion-title>test</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="background">
  <ion-card color="secondary">
  <ion-grid class="rtl">
    <ion-row class="dist-content">
      <ion-col>
        <ion-label>:Distance</ion-label>
      </ion-col>
      <ion-col>
        <h2 margin-top float-left ion-text>km {{distanceCovered | convertdigit}}</h2>
      </ion-col>
    </ion-row>

    <ion-row class="speed-content">
      <ion-col>
        <ion-label>:Speed</ion-label>
      </ion-col>
      <ion-col>
        <h2 margin-top float-left ion-text>km/h {{speed | convertdigit}}</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
    <ion-card-content>
      <h1>{{timer}}</h1>
    </ion-card-content>
  </ion-card>

  <!-- <button ion-button block color="{{ default }}" (click)="startStop()">{{ startButton }}</button> -->

  <div id="map"></div>

  <button *ngIf="!calculating" ion-button round full color="danger" (click)="startCalculation()">
    {{ startButton }}
  </button>
  <button *ngIf="calculating" ion-button round full color="danger" (click)="stopCalculation()">
    stop
  </button>
</ion-content>
