page-sliders {
.swiper-pagination-bullet-active{
    background: white
}
.background {
        background-image: url('../assets/img/FoundBikeBG.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
      .background2 {
        background-image: url('../assets/img/BGSTOLEBIKES.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
}
