page-confirm-bike-stolen {
    .background {
        background-image: url('../assets/img/LoginBG.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
      .btn {
      
        
        border: 1px solid white;
        position:absolute;
        transition: .5s ease;
          right: 0px;
            top: 300px;
    }
}

